@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?hwx34z');
  src:  url('fonts/sell-icon.eot?hwx34z#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?hwx34z') format('truetype'),
    url('fonts/sell-icon.woff?hwx34z') format('woff'),
    url('fonts/sell-icon.svg?hwx34z#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bear:before {
  content: "\1f323";
}
.icon-haystack:before {
  content: "\e901";
}
